<nav class="navbar navbar-expand-lg shadow">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/logo.webp' | relative_url }}" alt="Logo of easycalculator" width="200px"></a>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ '/age-calculator' | relative_url }}">Age Calculator</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/currency' | relative_url }}">Currency Converter</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/countdown' | relative_url }}">Countdown</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/world-clock' | relative_url }}">World Clock</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/epoch' | relative_url }}">Epoch Time</a></li>
       
      </ul>
    </div>

  </div>
</nav>
