


<div class="position-relative d-flex align-items-center gap-2">
    <img src="/assets/images/user-profile/narendra.jpg" class="profile-img rounded-circle border border-3 border-primary" width="40" height="40" alt="Creator">
 Created by : <a href="https://www.linkedin.com/in/narendra-kumar-775b0421/" target="_blank" class="text-decoration-none profile-item"> Narendra 
      <div class="profile-card">
        <img src="/assets/images/user-profile/narendra.jpg" class="profile-card-img rounded-circle border border-3 border-primary mb-2" width="60" height="60" alt="Creator">
                <h6 class="profile-card-name mb-1 fw-bold">Narendra Kumar</h6>
    <ul class="profile-details list-unstyled small mb-0">
      <li class="d-flex"><span class="detail-label fw-medium me-2">Role:</span><span class="detail-value">Engineer</span></li>
      <li class="d-flex"><span class="detail-label fw-medium me-2">Expertise:</span><span class="detail-value">RF Planning & Optimization, Geospatial Engineering, Wireless Network Design, GIS Analysis, Python Automation, and GitHub Enthusiast.</span></li>
     </ul>
    </div>
   </a>
</div>

