<div class="p-4">
 <h2 class="mb-4">📍 Other RF Calculator</h2>

<div class="row g-3">
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2" href="/dbm-to-watt">dBm to Watt Converter</a></div>
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2" href="/eirp-calculator">EIRP Calculator</a></div>
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2" href="/vswr-calculator">VSWR Calculator</a></div>
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2 " href="/rf-link-budget-calculator">RF Link Budget Calculator</a></div>
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2" href="/free-space-path-loss-calculator">Free Space Path Loss Calculator</a></div>
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2" href="/frequency-to-wavelength-calculator">Frequency to Wavelength Calculator</a> </div>
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2" href="/wavelength-to-frequency-calculator">Wavelength to Frequency Calculator</a></div>
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2" href="/arfcn-calculator">ARFCN Calculator</a></div>
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2" href="/earfcn-calculator">eARFCN Calculator</a></div>
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2" href="/microstrip-line-calculator">Microstrip Line Calculator</a> </div>
 <div class="col-auto"><a class="btn btn-light shadow-sm rounded-pill px-3 py-2" href="/fresnel-zone-calculator">Fresnel Zone Calculator</a></div>

  </div>

</div>


