<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Search Form -->
      <div class="search-container position-relative">
        <input type="search" 
               id="searchInput" 
               class="form-control form-control-lg" 
               placeholder="Search..." 
               autocomplete="off"
               aria-label="Search">
        <div id="searchResults" class="list-group position-absolute w-100 d-none"></div>
      </div>
    </div>
  </div>
</div>

<script src="{{ '/assets/js/search.js' | relative_url }}" defer></script>